.croppie-container .cr-viewport {
    border: 1px solid #fff;
}

.croppie-container .cr-slider-wrap {
    position: relative;
    top: -35px;
    z-index: 2;
}

.croppie-modal-footer {
    margin: 1em 0;
}
